.quizz__container {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  min-width: fit-content;
  font-family: "Manrope", sans-serif;
}

.quizz_logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: fit-content;
  flex: 1;
  align-items: center;
  margin-bottom: 2%;
}

.quizz_logo__container > img {
  min-width: inherit;
}

.quizz_logo__container > h3 {
  margin-top: 2%;
  max-height: inherit;
  color: #111010;
}

.quizz_questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #970202;
  background-color: #970202;
  border-radius: 6px;
  min-height: fit-content;
  padding: 3%;
  width: 100%;
  height: 60%;
  margin-bottom: 2%;
}

.quizz_questions > h3 {
  color: whitesmoke;
  font-size: x-large;
}

.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 2%;

}

.btn-option {
  width: 48%;
  padding: 3%;
  margin-bottom: 3%;
  background-color: #970202;
  color: whitesmoke;
}

.btn-option:active {
  width: 48%;
  position:relative;
  top:1px;
}

.btn-option:hover {
  background-color: #111010;
  border-color: #111010;
  color: whitesmoke;
}

.quizz_results {
  min-height: fit-content;
  padding: 5%;
  color:  #111010;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.quizz_results_text {
  text-align: center;
}
